html, body, #map {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
	font-family: Arial, sans-serif;
	color: #666;
}

#settings {
	width: 200px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 50;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
	
	padding: 10px 0 10px 10px;
}

#loading {
	position:fixed;
	top:0;
	left:0;
	width:960px;
	height:600px;
	background-color:#666;
	color:#fff;
	font-size:2em;
	padding:20% 40%;
	z-index:10;
}